#containerBtn{
    text-align: center;    
}

#addbtn{    
    background-color: #7D98A1;
}
.buttonForm {
    margin: 15px;
    border-radius: 8px;
    background-color: #EEF1EF; 
    color: black;
    border: none;
    height: 30px;
    width: 100px;
}

#image {
    height: 200px; 
    width: 200px;

}

