footer{
    background-color: #5E6572;
    color: #000;
    p{
        font-size: 15px;
    }
}

.navbar{
    background-color: #7D98A1;

    .nav-link{
        color: #000;
        font-size: 40px;
        margin-left: 1%;
    }
    .navbar-text{
        color: #000;
    }
}

