
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import './base.scss';


body{
    h1,
    h2,
    h3,h5 {
        font-family: "Peralta", serif;
    }
    p,
    input,
    button,
    label,
    
    textarea,
    h4,
    h5,
    a {
        font-family: "Peralta", serif;
    }
    .btn{
        font-family: "Peralta", serif;
    }
}