.navbar{
    font-family: 'peralta';
    background-color: #1C2321;


    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: #7D98A1;
    }

    span{
        color: white;
    }
    .navbar-toggler{
      color: aliceblue;
    }
    .navbar {
        display: flex;
        justify-content: flex-end;
       }
       @media (min-width: 992px) { /* Ajusta este valor según el punto de interrupción de tu diseño */
        .navbar .dropdown-menu {
           justify-content: center;
           width: 100%; /* Ajusta el ancho según sea necesario */
        }
       }
       .navbar .dropdown-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
}

