.navbar{
    font-family: 'peralta';
    background-color: #1C2321;


    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: #7D98A1;
    }

    span{
        color: white;
    }
    .navbar-toggler{
      color: aliceblue;
    }
}

